.col-md-4 {
    background-color: black;
   ;
}

body {
  margin: 0;
  background-color:darkgray
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row .col-md-4 {
  flex: 1 0 33%;
  border: 1px solid black;
}
